[submodule ".zsh-completions"]
	path = .zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".vim/bundle/Vundle"]
	path = .vim/bundle/Vundle
	url = git://github.com/gmarik/Vundle.vim.git
[submodule "private"]
	path = private
	url = git@github.com:ishikawam/private_dotfiles.git
