[submodule ".zsh-completions"]
	path = .zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".zsh-syntax-highlighting"]
	path = .zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule ".cask"]
	path = .cask
	url = git@github.com:cask/cask.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = git@github.com:ishikawam/Vundle.vim.git
[submodule ".nvm"]
	path = .nvm
	url = git@github.com:creationix/nvm.git
[submodule ".pyenv"]
	path = .pyenv
	url = git@github.com:pyenv/pyenv.git
[submodule ".pyenv-virtualenv"]
	path = .pyenv-virtualenv
	url = git@github.com:pyenv/pyenv-virtualenv.git
[submodule ".rbenv"]
	path = .rbenv
	url = git@github.com:rbenv/rbenv.git
[submodule ".rbenv-plugins/ruby-build"]
	path = .rbenv-plugins/ruby-build
	url = git@github.com:rbenv/ruby-build.git
[submodule "private"]
	path = private
	url = git@github.com:ishikawam/private_dotfiles.git
[submodule "Library"]
	path = Library
	url = git@github.com:ishikawam/library_dotfiles.git
[submodule "scripts/create_docker_laravel_project"]
	path = scripts/create_docker_laravel_project
	url = git@github.com:ishikawam/create-docker-laravel-project.git
