## users generic .gitignore file for mac, fedora, and any linux.
## @author: M.Ishikawa

# すべてgit対象外
/*
/.*
.DS_Store

# git対象を指定
!/.git
!/.gitignore
!/.gitignore_checker
!/.gitmodules
!/.gitconfig
!/.gitignore_global
!/README.md
!/Makefile
!/bin/
!/scripts/

!/.vimrc
!/.vim/
!/.bashrc
!/.bash_profile
!/.zshrc
!/.screenrc
!/.lv
!/.emacs
!/.emacs.d/
/.emacs.d/async-bytecomp.log
!/.inputrc
!/.tigrc
!/.zsh-completions
!/.zsh-syntax-highlighting
!/.tmux.conf
!/.config/
/.config/configstore
/.config/iterm2
/.config/filezilla
!/.config/filezilla/sitemanager.xml
/.config/Steinberg\ Installation\ Updater
/.config/karabiner/automatic_backups/
/.config/direnv
/.config/gcloud
/.config/git/hooks/pre-commit
/.config/packer
/.config/anyenv
/.config/jgit
/.config/github-copilot

!/tmux-powerline
!/.tmux-powerlinerc
!/.npmrc
!/.nvm/
!/.nodebrew/
!/.pyenv/
!/.pyenv-virtualenv/
!/.cask/
!/.cask
!/.rbenv
!/.rbenv/
!/.rbenv-plugins
!/.rbenv-plugins/
!/tmux/
!/.globalrc

# Chromeの.gitignoreは登録できない。> .gitあるから。

# 個別設定
#!/this/

# 共通
!/common/

# submodules
!/private/

# メモ：やめたもの
# oh-my-zsh
# z
# mosh
# textmate
# 
