## users generic .gitignore file for mac, fedora, and any linux.
## @author: M.Ishikawa

# すべてgit対象外
/*
/.*
.DS_Store

# git対象を指定
!/.git
!/.gitignore
!/.gitignore_checker
!/.gitmodules
!/.gitconfig
!/README.md
!/Makefile
!/bin/
!/local/.gitkeep
!/scripts/

!/.vimrc
!/.vim/
!/.bashrc
!/.bash_profile
!/.zshrc
!/.screenrc
!/.lv
!/.emacs
!/.emacs.d/
!/.inputrc
!/.tigrc
!/.zsh-completions
!/.zsh-syntax-highlighting
!/.tmux.conf
!/.config/
/.config/configstore
!/tmux-powerline
!/.tmux-powerlinerc
!/.npmrc
!/.nvm/
!/.pyenv/
!/.pyenv-virtualenv/
!/.cask/
!/.cask
!/.rbenv
!/.rbenv/
!/.rbenv-plugins
!/.rbenv-plugins/
!/tmux/
!/.globalrc

# 個別設定
#!/this/

# 共通
!/common/

# メモ：やめたもの
# oh-my-zsh
# z
# mosh
# textmate
# 
