## users generic .gitignore file for mac, fedora, and any linux.
## @author: M.Ishikawa

# すべてgit対象外
/*
/.*

# git対象を指定
!/.git
!/.gitignore
!/.gitmodules
# gitconfigはユーザー名を切り替えるので。。。いや、ここはdotfilesだから固定でいいだろｊｋ
#!/.gitconfig
!/README.md
!/bin/

!/.vimrc
!/.vim/
!/.bashrc
!/.bash_profile
!/.zshrc
!/.screenrc
!/.lv
!/.emacs*
!/.emacs.d/
/.emacs.d/auto-save-list
/.emacs.d/tramp
/.emacs.d/*.dat
/.emacs.d/.cask
!/.inputrc
!/.tigrc
!/.zsh-completions
!/.zsh-syntax-highlighting
!/installedtools/
!/.tmux.conf
!/tmux-powerline
!/.tmux-powerlinerc
!/.npmrc
!/.nvm/

# Github非公開リポジトリを
!/private
!/private/

# 個別設定
#!/this/

# 共通
!/common/

# メモ：やめたもの
# oh-my-zsh
# z
# mosh
# textmate
# 
