[user]
	name = M_Ishikawa
	email = ishikawam@nifty.com
[color]
	ui = auto
[alias]
	co = checkout
	st = status -sb
	pr = pull --rebase
	br = branch
	fo = fetch origin
	ro = rebase origin
	rc = rebase --continue
	wd = diff --word-diff
	bd = diff --name-status
	lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
	pushf = push --force-with-lease
	gr = "!git grep $1 -- './*' ':(exclude)*.min.js' ':(exclude)*.min.css' ':(exclude)*.map' "
	gri = "!git grep -i $1 -- './*' ':(exclude)*.min.js' ':(exclude)*.min.css' ':(exclude)*.map' "
[core]
	editor = emacs
	quotepath = false
	excludesfile = ~/.gitignore_global
[push]
	default = upstream
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[credential]
	helper = osxkeychain
